In [1]:
import numpy as np
import pandas as pd

In [2]:
import os
os.getcwd()

'C:\\Users\\김다은\\data_ana'

In [3]:
df_org=pd.read_csv("./accidentinfo.csv", sep=',')

In [4]:
df_org

,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,도로형태,가해운전자 차종,피해운전자 차종
0,서울특별시 은평구 응암동,중상사고,0,1,0,0,차대차 - 측면충돌,교차로 - 교차로안,승용,원동기
1,서울특별시 영등포구 영등포동,중상사고,0,1,3,0,차대차 - 기타,단일로 - 기타,이륜,승합
2,서울특별시 노원구 월계동,경상사고,0,0,1,0,차대차 - 추돌,단일로 - 기타,승용,승용
3,서울특별시 종로구 종로4가,경상사고,0,0,1,0,차대차 - 측면충돌,교차로 - 교차로안,승용,승용
4,서울특별시 강북구 미아동,경상사고,0,0,1,0,차대차 - 기타,단일로 - 기타,승용,이륜
...,...,...,...,...,...,...,...,...,...,...
31960,서울특별시 중랑구 중화동,경상사고,0,0,1,0,차량단독 - 공작물충돌,단일로 - 교량,승용,NaN
31961,서울특별시 송파구 장지동,경상사고,0,0,1,0,차대차 - 측면충돌,교차로 - 교차로안,승용,승합
31962,서울특별시 서초구 반포동,중상사고,0,1,1,0,차대차 - 기타,단일로 - 기타,승용,승용
31963,서울특별시 성동구 행당동,경상사고,0,0,2,0,차대차 - 측면충돌,단일로 - 기타,승용,승용
31964,서울특별시 서초구 반포동,경상사고,0,0,1,0,차대사람 - 기타,단일로 - 기타,승합,보행자

In [5]:
df_org.drop('사고내용',axis=1,inplace=True)
df_org

,시군구,사망자수,중상자수,경상자수,부상신고자수,사고유형,도로형태,가해운전자 차종,피해운전자 차종
0,서울특별시 은평구 응암동,0,1,0,0,차대차 - 측면충돌,교차로 - 교차로안,승용,원동기
1,서울특별시 영등포구 영등포동,0,1,3,0,차대차 - 기타,단일로 - 기타,이륜,승합
2,서울특별시 노원구 월계동,0,0,1,0,차대차 - 추돌,단일로 - 기타,승용,승용
3,서울특별시 종로구 종로4가,0,0,1,0,차대차 - 측면충돌,교차로 - 교차로안,승용,승용
4,서울특별시 강북구 미아동,0,0,1,0,차대차 - 기타,단일로 - 기타,승용,이륜
...,...,...,...,...,...,...,...,...,...
31960,서울특별시 중랑구 중화동,0,0,1,0,차량단독 - 공작물충돌,단일로 - 교량,승용,NaN
31961,서울특별시 송파구 장지동,0,0,1,0,차대차 - 측면충돌,교차로 - 교차로안,승용,승합
31962,서울특별시 서초구 반포동,0,1,1,0,차대차 - 기타,단일로 - 기타,승용,승용
31963,서울특별시 성동구 행당동,0,0,2,0,차대차 - 측면충돌,단일로 - 기타,승용,승용
31964,서울특별시 서초구 반포동,0,0,1,0,차대사람 - 기타,단일로 - 기타,승합,보행자

In [6]:
df_org['시군구']=df_org['시군구'].str.strip(to_strip='서울특별시')
df_org

,시군구,사망자수,중상자수,경상자수,부상신고자수,사고유형,도로형태,가해운전자 차종,피해운전자 차종
0,은평구 응암동,0,1,0,0,차대차 - 측면충돌,교차로 - 교차로안,승용,원동기
1,영등포구 영등포동,0,1,3,0,차대차 - 기타,단일로 - 기타,이륜,승합
2,노원구 월계동,0,0,1,0,차대차 - 추돌,단일로 - 기타,승용,승용
3,종로구 종로4가,0,0,1,0,차대차 - 측면충돌,교차로 - 교차로안,승용,승용
4,강북구 미아동,0,0,1,0,차대차 - 기타,단일로 - 기타,승용,이륜
...,...,...,...,...,...,...,...,...,...
31960,중랑구 중화동,0,0,1,0,차량단독 - 공작물충돌,단일로 - 교량,승용,NaN
31961,송파구 장지동,0,0,1,0,차대차 - 측면충돌,교차로 - 교차로안,승용,승합
31962,서초구 반포동,0,1,1,0,차대차 - 기타,단일로 - 기타,승용,승용
31963,성동구 행당동,0,0,2,0,차대차 - 측면충돌,단일로 - 기타,승용,승용
31964,서초구 반포동,0,0,1,0,차대사람 - 기타,단일로 - 기타,승합,보행자

In [7]:
c1=df_org['시군구'].str.split().tolist()
result1=[]
result2=[]
for i in range(len(c1)):
    goo=c1[i][0]
    dong=c1[i][1]
    result1.append(goo)
    result2.append(dong)
len(result1), len(result2)

(31965, 31965)

In [8]:
df_org['자치구']=result1
df_org['행정구']=result2

In [9]:
df_org

,시군구,사망자수,중상자수,경상자수,부상신고자수,사고유형,도로형태,가해운전자 차종,피해운전자 차종,자치구,행정구
0,은평구 응암동,0,1,0,0,차대차 - 측면충돌,교차로 - 교차로안,승용,원동기,은평구,응암동
1,영등포구 영등포동,0,1,3,0,차대차 - 기타,단일로 - 기타,이륜,승합,영등포구,영등포동
2,노원구 월계동,0,0,1,0,차대차 - 추돌,단일로 - 기타,승용,승용,노원구,월계동
3,종로구 종로4가,0,0,1,0,차대차 - 측면충돌,교차로 - 교차로안,승용,승용,종로구,종로4가
4,강북구 미아동,0,0,1,0,차대차 - 기타,단일로 - 기타,승용,이륜,강북구,미아동
...,...,...,...,...,...,...,...,...,...,...,...
31960,중랑구 중화동,0,0,1,0,차량단독 - 공작물충돌,단일로 - 교량,승용,NaN,중랑구,중화동
31961,송파구 장지동,0,0,1,0,차대차 - 측면충돌,교차로 - 교차로안,승용,승합,송파구,장지동
31962,서초구 반포동,0,1,1,0,차대차 - 기타,단일로 - 기타,승용,승용,서초구,반포동
31963,성동구 행당동,0,0,2,0,차대차 - 측면충돌,단일로 - 기타,승용,승용,성동구,행당동
31964,서초구 반포동,0,0,1,0,차대사람 - 기타,단일로 - 기타,승합,보행자,서초구,반포동

In [10]:
df_org.drop('시군구',axis=1,inplace=True)

In [11]:
df=df_org[['자치구','행정구','사망자수','중상자수','경상자수','도로형태','가해운전자 차종','피해운전자 차종']]

In [12]:
df=df.loc[df['가해운전자 차종' or '피해운전자 차종']=='이륜']

In [13]:
df

        자치구    행정구  사망자수  중상자수  경상자수            도로형태 가해운전자 차종 피해운전자 차종
1      영등포구   영등포동     0     1     3        단일로 - 기타       이륜       승합
10      마포구    공덕동     0     1     0      교차로 - 교차로안       이륜       승합
13      용산구  한강로2가     0     1     4     교차로 - 교차로부근       이륜       승합
22      강동구    성내동     0     0     1      교차로 - 교차로안       이륜       승용
29      강동구    성내동     0     0     1  교차로 - 교차로횡단보도내       이륜      보행자
...     ...    ...   ...   ...   ...             ...      ...      ...
31909   서초구    방배동     0     0     1        단일로 - 기타       이륜       승용
31941   은평구    역촌동     0     1     0        단일로 - 기타       이륜      보행자
31943   동작구    사당동     0     0     2      교차로 - 교차로안       이륜       이륜
31945   양천구    신정동     0     1     0      교차로 - 교차로안       이륜       승용
31949   은평구    응암동     0     0     1        단일로 - 교량       이륜       이륜

[3545 rows x 8 columns]

In [14]:
road_split=df.도로형태.str.split(' - ')

road_split.index=range(0,3545)

print(road_split)

print(type(road_split))
print(type(road_split[0]))

#단일로, 교차로만 데이터로 넣기
road=road_split.str.get(0)

#필요없는 열 삭제
df.drop(['가해운전자 차종','피해운전자 차종'], axis=1,inplace=True)

df

df.drop(['도로형태'],axis=1,inplace=True)

df.index=range(3545)

df['도로형태']=road

0             [단일로, 기타]
1           [교차로, 교차로안]
2          [교차로, 교차로부근]
3           [교차로, 교차로안]
4       [교차로, 교차로횡단보도내]
             ...
3540          [단일로, 기타]
3541          [단일로, 기타]
3542        [교차로, 교차로안]
3543        [교차로, 교차로안]
3544          [단일로, 교량]
Name: 도로형태, Length: 3545, dtype: object
<class 'pandas.core.series.Series'>
<class 'list'>

In [15]:
df

       자치구    행정구  사망자수  중상자수  경상자수 도로형태
0     영등포구   영등포동     0     1     3  단일로
1      마포구    공덕동     0     1     0  교차로
2      용산구  한강로2가     0     1     4  교차로
3      강동구    성내동     0     0     1  교차로
4      강동구    성내동     0     0     1  교차로
...    ...    ...   ...   ...   ...  ...
3540   서초구    방배동     0     0     1  단일로
3541   은평구    역촌동     0     1     0  단일로
3542   동작구    사당동     0     0     2  교차로
3543   양천구    신정동     0     1     0  교차로
3544   은평구    응암동     0     0     1  단일로

[3545 rows x 6 columns]

In [16]:
sglroad= df['도로형태']=='단일로'
crssroad= df['도로형태']=='교차로'
df['단일로']=sglroad
df['교차로']=crssroad
df['단일로']=df['단일로'].map(lambda x: 1 if x else 0)
df['교차로']=df['교차로'].map(lambda x: 1 if x else 0)

In [17]:
df

       자치구    행정구  사망자수  중상자수  경상자수 도로형태  단일로  교차로
0     영등포구   영등포동     0     1     3  단일로    1    0
1      마포구    공덕동     0     1     0  교차로    0    1
2      용산구  한강로2가     0     1     4  교차로    0    1
3      강동구    성내동     0     0     1  교차로    0    1
4      강동구    성내동     0     0     1  교차로    0    1
...    ...    ...   ...   ...   ...  ...  ...  ...
3540   서초구    방배동     0     0     1  단일로    1    0
3541   은평구    역촌동     0     1     0  단일로    1    0
3542   동작구    사당동     0     0     2  교차로    0    1
3543   양천구    신정동     0     1     0  교차로    0    1
3544   은평구    응암동     0     0     1  단일로    1    0

[3545 rows x 8 columns]

In [18]:
#컬럼명 변환
df=df.rename(columns={'행정구':'행정동'})

In [19]:
df.drop('도로형태',axis=1,inplace=True)

In [20]:
#행정동을 기준으로 총합 계산
grouped=df.groupby(['행정동','자치구']).sum()

In [21]:
grouped

           사망자수  중상자수  경상자수  단일로  교차로
행정동  자치구
가락동  송파구      0     8    32   14   17
가리봉동 구로구      1     2    10    4    6
가산동  금천구      2     5    17    9    8
가양동  강서구      0     1     7    3    4
가회동  종로구      0     0     1    0    1
...         ...   ...   ...  ...  ...
효창동  용산구      0     0     3    1    2
후암동  용산구      0     1     3    2    0
훈정동  종로구      0     0     1    1    0
휘경동  동대문구     1     6    16    7   14
흑석동  동작구      0     1     4    5    0

[334 rows x 5 columns]

In [113]:
grouped=grouped.reset_index()
print(grouped)

      행정동   자치구  사망자수  중상자수  경상자수  단일로  교차로
0     가락동   송파구     0     8    32   14   17
1    가리봉동   구로구     1     2    10    4    6
2     가산동   금천구     2     5    17    9    8
3     가양동   강서구     0     1     7    3    4
4     가회동   종로구     0     0     1    0    1
..    ...   ...   ...   ...   ...  ...  ...
329   효창동   용산구     0     0     3    1    2
330   후암동   용산구     0     1     3    2    0
331   훈정동   종로구     0     0     1    1    0
332   휘경동  동대문구     1     6    16    7   14
333   흑석동   동작구     0     1     4    5    0

[334 rows x 7 columns]

In [114]:
#행정동과 법정동을 매칭시켜주는 파일을 불러옴
df_match= pd.read_csv('./행정동 법정동 코드.csv', encoding='utf-8')

In [115]:
df_match

            행정동코드      시도명  시군구명   읍면동명       법정동코드    동리명      생성일자
0      1100000000    서울특별시   NaN    NaN  1100000000  서울특별시  19880423
1      1111000000    서울특별시   종로구    NaN  1111000000    종로구  19880423
2      1111051500    서울특별시   종로구  청운효자동  1111010100    청운동  20081101
3      1111051500    서울특별시   종로구  청운효자동  1111010200    신교동  20081101
4      1111051500    서울특별시   종로구  청운효자동  1111010300    궁정동  20081101
...           ...      ...   ...    ...         ...    ...       ...
21734  5013061000  제주특별자치도  서귀포시    중문동  5013011400    대포동  20060701
21735  5013061000  제주특별자치도  서귀포시    중문동  5013011800    하원동  20060701
21736  5013062000  제주특별자치도  서귀포시    예래동  5013011900    색달동  20060701
21737  5013062000  제주특별자치도  서귀포시    예래동  5013012000    상예동  20060701
21738  5013062000  제주특별자치도  서귀포시    예래동  5013012100    하예동  20060701

[21739 rows x 7 columns]

In [116]:
#서울시, 종로구 등 시군구 단위까지만 있는 것은 값이 없기 때문에 결측치로 처리됨 : 해당 결측치 제거
df_match=df_match.dropna()

In [121]:
df_match

          행정동코드      시도명  시군구명   읍면동명     법정동코드  동리명      생성일자
2      11110515    서울특별시   종로구  청운효자동  11110101  청운동  20081101
3      11110515    서울특별시   종로구  청운효자동  11110102  신교동  20081101
4      11110515    서울특별시   종로구  청운효자동  11110103  궁정동  20081101
5      11110515    서울특별시   종로구  청운효자동  11110104  효자동  20081101
6      11110515    서울특별시   종로구  청운효자동  11110105  창성동  20081101
...         ...      ...   ...    ...       ...  ...       ...
21734  50130610  제주특별자치도  서귀포시    중문동  50130114  대포동  20060701
21735  50130610  제주특별자치도  서귀포시    중문동  50130118  하원동  20060701
21736  50130620  제주특별자치도  서귀포시    예래동  50130119  색달동  20060701
21737  50130620  제주특별자치도  서귀포시    예래동  50130120  상예동  20060701
21738  50130620  제주특별자치도  서귀포시    예래동  50130121  하예동  20060701

[21297 rows x 7 columns]

In [118]:
#행정동/법정동 코드를 10자리->8자리로 변경
df_match['행정동코드']=(df_match['행정동코드']/100).astype(np.int64)
df_match['법정동코드']=(df_match['법정동코드']/100).astype(np.int64)

C:\Users\김다은\AppData\Local\Temp\ipykernel_20400\3424024333.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_match['행정동코드']=(df_match['행정동코드']/100).astype(np.int64)
C:\Users\김다은\AppData\Local\Temp\ipykernel_20400\3424024333.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_match['법정동코드']=(df_match['법정동코드']/100).astype(np.int64)

In [119]:
#하나의 행정동이 몇개의 법정동으로 이루어져 있는지 확인
bup_count=df_match[['행정동코드','법정동코드']].groupby('행정동코드').count().rename(columns={'법정동코드':'법정동갯수'}).reset_index()
bup_count

         행정동코드  법정동갯수
0     11110515     10
1     11110530     12
2     11110540      7
3     11110550      3
4     11110560      2
...        ...    ...
3534  50130580      1
3535  50130590      3
3536  50130600      4
3537  50130610      4
3538  50130620      3

[3539 rows x 2 columns]

In [123]:
#서울시 데이터만 추출
df_match=df_match.loc[df_match['시도명']=='서울특별시',:]
df_match

        행정동코드    시도명 시군구명   읍면동명     법정동코드  동리명      생성일자
2    11110515  서울특별시  종로구  청운효자동  11110101  청운동  20081101
3    11110515  서울특별시  종로구  청운효자동  11110102  신교동  20081101
4    11110515  서울특별시  종로구  청운효자동  11110103  궁정동  20081101
5    11110515  서울특별시  종로구  청운효자동  11110104  효자동  20081101
6    11110515  서울특별시  종로구  청운효자동  11110105  창성동  20081101
..        ...    ...  ...    ...       ...  ...       ...
764  11740650  서울특별시  강동구  성내제2동  11740108  성내동  19880423
765  11740660  서울특별시  강동구  성내제3동  11740108  성내동  19880423
766  11740685  서울특별시  강동구     길동  11740105   길동  20080707
767  11740690  서울특별시  강동구  둔촌제1동  11740106  둔촌동  19880423
768  11740700  서울특별시  강동구  둔촌제2동  11740106  둔촌동  19880423

[743 rows x 7 columns]

In [124]:
#필요한 변수인 행정동코드와 읍면동명만 떼어내서 중복제거
df_match=df_match.drop_duplicates(['행정동코드','읍면동명'])

In [125]:
df_match

        행정동코드    시도명 시군구명   읍면동명     법정동코드  동리명      생성일자
2    11110515  서울특별시  종로구  청운효자동  11110101  청운동  20081101
12   11110530  서울특별시  종로구    사직동  11110106  통의동  19880423
24   11110540  서울특별시  종로구    삼청동  11110139  팔판동  19880423
31   11110550  서울특별시  종로구    부암동  11110184  부암동  19880423
34   11110560  서울특별시  종로구    평창동  11110182  구기동  19880423
..        ...    ...  ...    ...       ...  ...       ...
764  11740650  서울특별시  강동구  성내제2동  11740108  성내동  19880423
765  11740660  서울특별시  강동구  성내제3동  11740108  성내동  19880423
766  11740685  서울특별시  강동구     길동  11740105   길동  20080707
767  11740690  서울특별시  강동구  둔촌제1동  11740106  둔촌동  19880423
768  11740700  서울특별시  강동구  둔촌제2동  11740106  둔촌동  19880423

[426 rows x 7 columns]

In [126]:
df_match.index=range(426)

In [131]:
df_match=df_match[['행정동코드','읍면동명']]

In [132]:
df_match

        행정동코드   읍면동명
0    11110515  청운효자동
1    11110530    사직동
2    11110540    삼청동
3    11110550    부암동
4    11110560    평창동
..        ...    ...
421  11740650  성내제2동
422  11740660  성내제3동
423  11740685     길동
424  11740690  둔촌제1동
425  11740700  둔촌제2동

[426 rows x 2 columns]

In [133]:
#서울시 행정동별 인구데이터 불러오기
df_stat=pd.read_csv('C:/Users/김다은/Desktop/개인분석과제/서울시 행정동별 생활인구(내국인).csv', encoding='utf-8', index_col=None)

In [199]:
df_stat.loc[df_stat['행정동코드']==11740526,:]

Empty DataFrame
Columns: [기준일ID, 시간대구분, 행정동코드, 총생활인구수]
Index: []

In [207]:
#행정동-법정동 매칭 정보와 통계치를 붙임
df_con=df_stat.merge(df_match,how='outer',on='행정동코드')
df_con=df_con.rename(columns={'읍면동명':'행정동'})
df_con.loc[df_con['총생활인구수'].isnull() | df_con['행정동'].isnull()]

          기준일ID  시간대구분     행정동코드      총생활인구수    행정동
62   20211231.0   23.0  11305606  18281.5100    NaN
80   20211231.0   23.0  11305610  21024.1728    NaN
81   20211231.0   23.0  11305590  17832.1312    NaN
93   20211231.0   23.0  11305620  21767.3654    NaN
101  20211231.0   23.0  11305630  26550.7752    NaN
226  20211231.0   23.0  11305600  17246.0930    NaN
276  20211231.0   23.0  11740520  40760.3325    NaN
424         NaN    NaN  11305595         NaN    번1동
425         NaN    NaN  11305603         NaN    번2동
426         NaN    NaN  11305608         NaN    번3동
427         NaN    NaN  11305615         NaN   수유1동
428         NaN    NaN  11305625         NaN   수유2동
429         NaN    NaN  11305635         NaN   수유3동
430         NaN    NaN  11530800         NaN     항동
431         NaN    NaN  11740525         NaN  상일제1동
432         NaN    NaN  11740526         NaN  상일제2동

In [204]:
import PublicDataReader as pdr

In [234]:
행정동=pdr.code_hdong()
행정동.loc[행정동['읍면동명']=='번3동']

    시도코드    시도명  시군구코드 시군구명       행정동코드 읍면동명      생성일자 말소일자
252   11  서울특별시  11305  강북구  1130560800  번3동  20190101  NaN

In [231]:
행정동.loc[행정동['행정동코드']=='1130560600']

    시도코드    시도명  시군구코드 시군구명       행정동코드  읍면동명      생성일자      말소일자
251   11  서울특별시  11305  강북구  1130560600  번제3동  19950301  20190101

In [217]:
행정동

     시도코드      시도명  시군구코드  시군구명       행정동코드   읍면동명      생성일자      말소일자
0      11    서울특별시  11000   NaN  1100000000    NaN  19880423       NaN
1      11    서울특별시  11110   종로구  1111000000    NaN  19880423       NaN
2      11    서울특별시  11110   종로구  1111051000    청운동  19880423  20081101
3      11    서울특별시  11110   종로구  1111051500  청운효자동  20081101       NaN
4      11    서울특별시  11110   종로구  1111052000    효자동  19880423  20081101
...   ...      ...    ...   ...         ...    ...       ...       ...
8498   50  제주특별자치도  50130  서귀포시  5013058000    서홍동  20060701       NaN
8499   50  제주특별자치도  50130  서귀포시  5013059000    대륜동  20060701       NaN
8500   50  제주특별자치도  50130  서귀포시  5013060000    대천동  20060701       NaN
8501   50  제주특별자치도  50130  서귀포시  5013061000    중문동  20060701       NaN
8502   50  제주특별자치도  50130  서귀포시  5013062000    예래동  20060701       NaN

[8503 rows x 8 columns]

In [137]:
#교통사고 데이터 저장
grouped.to_csv('Acci.csv')

In [139]:
#행정동코드-인구통계 데이터 저장
df_con.to_csv('dongPop.csv')

In [155]:
#grouped와 df_con 병합
acciPop=grouped.merge(df_con,how='outer',on='행정동')

In [161]:
#결측값 확인
acciPop.drop('기준일ID',axis=1,inplace=True)

In [162]:
acciPop.drop('시간대구분',axis=1,inplace=True)

In [163]:
acciPop

       행정동  자치구  사망자수  중상자수  경상자수   단일로   교차로       행정동코드      총생활인구수
0      가락동  송파구   0.0   8.0  32.0  14.0  17.0         NaN         NaN
1     가리봉동  구로구   1.0   2.0  10.0   4.0   6.0  11530595.0  11300.9976
2      가산동  금천구   2.0   5.0  17.0   9.0   8.0  11545510.0  31349.7089
3      가양동  강서구   0.0   1.0   7.0   3.0   4.0         NaN         NaN
4      가회동  종로구   0.0   0.0   1.0   0.0   1.0  11110600.0   4501.1006
..     ...  ...   ...   ...   ...   ...   ...         ...         ...
677  성내제1동  NaN   NaN   NaN   NaN   NaN   NaN  11740640.0  23939.9343
678  성내제2동  NaN   NaN   NaN   NaN   NaN   NaN  11740650.0  26922.9780
679  성내제3동  NaN   NaN   NaN   NaN   NaN   NaN  11740660.0  28098.8671
680  둔촌제1동  NaN   NaN   NaN   NaN   NaN   NaN  11740690.0   5485.8371
681  둔촌제2동  NaN   NaN   NaN   NaN   NaN   NaN  11740700.0  28863.0769

[682 rows x 9 columns]

In [186]:
acciPop[acciPop['행정동코드'].isnull() | acciPop['자치구'].isnull()].loc[acciPop[acciPop['행정동코드'].isnull() | acciPop['자치구'].isnull()]['행정동']=='둔촌동',:]

    행정동  자치구  사망자수  중상자수  경상자수  단일로  교차로  행정동코드  총생활인구수
87  둔촌동  강동구   0.0   2.0   4.0  0.0  5.0    NaN     NaN

In [181]:
acciPop[acciPop['행정동코드'].isnull() | acciPop['자치구'].isnull()].loc[acciPop[acciPop['행정동코드'].isnull() | acciPop['자치구'].isnull()]['행정동']=='둔촌제1동',:]

       행정동  자치구  사망자수  중상자수  경상자수  단일로  교차로       행정동코드     총생활인구수
680  둔촌제1동  NaN   NaN   NaN   NaN  NaN  NaN  11740690.0  5485.8371

In [190]:
df_con['행정동']

0      청운효자동
1        사직동
2        삼청동
3        부암동
4        평창동
       ...
421    성내제2동
422    성내제3동
423       길동
424    둔촌제1동
425    둔촌제2동
Name: 행정동, Length: 426, dtype: object

In [111]:
#결측치 평균값으로 처리
# mean=df_con['총생활인구수'].mean()
# print(mean)
# df_con['총생활인구수'].fillna(mean,inplace=True)

23161.301459472423

In [112]:
df_con.isnull().sum()

행정동코드     0
읍면동명      0
기준일ID     9
시간대구분     9
총생활인구수    0
dtype: int64

In [77]:
df2

,행정동코드,시도명,시군구명,읍면동명,법정동코드,동리명,생성일자,법정동갯수,기준일ID,시간대구분,총생활인구수
0,11110515,서울특별시,종로구,청운효자동,11110101,청운동,20081101,10,20211231.0,23.0,15568.7728
1,11110515,서울특별시,종로구,청운효자동,11110102,신교동,20081101,10,20211231.0,23.0,15568.7728
2,11110515,서울특별시,종로구,청운효자동,11110103,궁정동,20081101,10,20211231.0,23.0,15568.7728
3,11110515,서울특별시,종로구,청운효자동,11110104,효자동,20081101,10,20211231.0,23.0,15568.7728
4,11110515,서울특별시,종로구,청운효자동,11110105,창성동,20081101,10,20211231.0,23.0,15568.7728
...,...,...,...,...,...,...,...,...,...,...,...
738,11740650,서울특별시,강동구,성내제2동,11740108,성내동,19880423,1,20211231.0,23.0,26922.9780
739,11740660,서울특별시,강동구,성내제3동,11740108,성내동,19880423,1,20211231.0,23.0,28098.8671
740,11740685,서울특별시,강동구,길동,11740105,길동,20080707,1,20211231.0,23.0,56597.5455
741,11740690,서울특별시,강동구,둔촌제1동,11740106,둔촌동,19880423,1,20211231.0,23.0,5485.8371
742,11740700,서울특별시,강동구,둔촌제2동,11740106,둔촌동,19880423,1,20211231.0,23.0,28863.0769

In [78]:
#df2 변수 정리
df2=df2[['읍면동명','행정동코드','총생활인구수']]
df2

      읍면동명     행정동코드      총생활인구수
0    청운효자동  11110515  15568.7728
1    청운효자동  11110515  15568.7728
2    청운효자동  11110515  15568.7728
3    청운효자동  11110515  15568.7728
4    청운효자동  11110515  15568.7728
..     ...       ...         ...
738  성내제2동  11740650  26922.9780
739  성내제3동  11740660  28098.8671
740     길동  11740685  56597.5455
741  둔촌제1동  11740690   5485.8371
742  둔촌제2동  11740700  28863.0769

[743 rows x 3 columns]

In [ ]:
d